<!--
//
//  
//  
//
//  Created by 04-12-2018 on --
//  Copyright © 2018 hightech-corp. All rights reserved.
//
-->


<div class="container-fluid container-fullw  box-shadow mb-5 pt-2">

  <form [formGroup]="regExpr" (validSubmit)="search()">

  <!-- <h3 class="text-center mb-4 mt-4">Anular Anticipo</h3> -->
  
  <div class="row pb-4">
    

    <div class="col-md-2">
      <div class="form-group">			
        <label for="name">Nombre:</label>
        <input  type="text" name="name" id="name" class="rdb form-control"  placeholder="..." formControlName="name" autocomplete="off" >
      </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
          <label for="uri">Uri:</label>
          <input  type="text" name="uri" id="uri" class="rdb form-control"  placeholder="..." formControlName="uri" autocomplete="off">
        </div>
      </div>

    <div class="col-md-2">
      <div class="form-group">			
        <label for="modifyDate">Modificaci&oacute;n:</label>
        <input  type="text" name="modifyDate" id="modifyDate" class="rdb form-control" bsDatepicker  [bsConfig]="bsConfig" #dpa="bsDatepicker" readonly placeholder="Seleccione" formControlName="modifyDate" >
      </div>
    </div>

    
    <div class="col-md-2">
      <div class="form-group">			
        <label for="creationDate">Creaci&oacute;n:</label>
        <input  type="text" name="creationDate" id="creationDate" class="rdb form-control" bsDatepicker [bsConfig]="bsConfig" #dpb="bsDatepicker" readonly placeholder="Seleccione" formControlName="creationDate" >
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <label for="">Estatus:</label>

        <div class="btn-group btn-group-toggle">
          <label class="btn-primary" ngbButtonLabel style="border-radius: 1rem 0rem 0rem 1rem;">
            <input type="checkbox" formControlName="active"  ngbButton> Activo
          </label>
          <label class="btn-primary" ngbButtonLabel style="border-radius: 0rem 1rem 1rem 0rem;">
            <input type="checkbox" formControlName="inactive"  ngbButton> Inactivo
          </label>
          
        </div>
      
      </div>
    </div>

    <div class="col-md-1">
    <div class="form-group">
        &nbsp;
      <label for=""> &nbsp; &nbsp; </label>
      <button class="btn btn-primary  btn-sm btn-block rdb" type="submit" ngbTooltip="Buscar" type="submit" >
          <i class="fa fa-search fa-lg"></i>
      </button>
    </div>   
    
        
    </div>

      <div class="col-md-1">
          <div class="form-group">
              &nbsp;
            <label for=""> &nbsp; &nbsp; </label>
            <button class="btn btn-primary  btn-sm btn-block rdb"  ngbTooltip="Limpiar"  (click)="regExpr.reset(); clean()" type="button">
                <i class="fa fa-eraser fa-lg"></i> 
            </button>
          </div>

      </div>

      </div>
      
    </form>
  </div>

  <h1 class="display-5 text-center mb-4">Expresiones regulares</h1>

  <!-- DATATABLE -->
      <ngx-datatable
        class='material'
        [columnMode]="'force'"        
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="5"
        [rows]='dataRetrived'>

  	      <ngx-datatable-column name="Seleccionar" prop="select">
            <ng-template let-row="row" let-id="value" ngx-datatable-cell-template>
              <input type="checkbox" name="" id="" class="form-control">
            </ng-template>
          </ngx-datatable-column>
  	      <ngx-datatable-column name="Nombre" prop="name"></ngx-datatable-column>
          <ngx-datatable-column name="Descripcion" prop="description"></ngx-datatable-column>
          <ngx-datatable-column name="Uri" prop="uri"></ngx-datatable-column>
          <ngx-datatable-column name="Estatus" prop="status"></ngx-datatable-column>
          <ngx-datatable-column name="Fecha de creacion" prop="creationDate"></ngx-datatable-column>
          <ngx-datatable-column name="Fecha de modificacion" prop="modifyDate"></ngx-datatable-column>


          <ngx-datatable-column name="Acciones" prop="actions" >
              <ng-template let-row="row" let-id="value" ngx-datatable-cell-template>
                <button class="btn btn-primary fa fa-edit rdb" (click)="openModal(regExprTpl, row); editMode=true"></button>
              </ng-template>
          </ngx-datatable-column>

        
      </ngx-datatable> 


      <ng-template #regExprTpl>
        <div class="modal-header modaleHeader">
          <h4 class="modal-title pull-left" *ngIf="!editMode" >Registrar una nueva expresi&oacute;n regular</h4>
          <h4 class="modal-title pull-left" *ngIf="editMode">Modificar una expresi&oacute;n regular</h4>

          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide(); editMode=false;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
              <form [formGroup]="regExprModal">
                <div class="form-group">
                  <label for="name">Nombre:</label>
                  <input type="text" class="form-control rdb" id="name" name="name" formControlName="name" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="description">Descripci&oacute;n:</label>
                  <input type="text" class="form-control rdb" id="description" name="description" formControlName="description" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="uri">Uri:</label>
                  <input type="text" class="form-control rdb" id="uri" name="uri" formControlName="uri" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="status">Estatus:</label>
                  <input type="text" class="form-control rdb" id="status" name="status" formControlName="status" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for=""> &nbsp; &nbsp; </label>
                    <button class="btn btn-primary fa btn-lg btn-block rdb" [ngClass]="{'fa-save': !editMode, 'fa-edit': editMode }" (click)="editMode=false" ></button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </ng-template>