<div class="container-fluid h-100 shortcuts">
    <div class="row align-items-center h-100">
        <div class="col-lg-10 col-md-12 mx-auto">

            
                <h1 class="display-4 text-center">Accesos Rápidos</h1>
                <br>
                <div class="row">
                    
                    <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                        <a href="javascript:;" class="py-3 btn-block btn btn-light shadow-sm">
                            <img src="assets/img/icons/shortcuts/advance-payment.png" alt="Pagar anticipo">
                            <small class="d-block mt-2">Pagar <br> anticipo</small>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                        <a href="javascript:;" class="py-3 btn-block btn btn-light shadow-sm">
                            <img src="assets/img/icons/shortcuts/advance-payment-by-limit.png" alt="Pagar anticipo por limite">
                            <small class="d-block mt-2">Pagar anticipo<br>por limite</small>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                        <a href="javascript:;" class="py-3 btn-block btn btn-light shadow-sm">
                                <img src="assets/img/icons/shortcuts/voucher-ondemand-payment.png" alt="Pagar comprobante ondemand">
                            <small class="d-block mt-2">Pagar comprobante<br>ondemand</small>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                        <a href="javascript:;" class="py-3 btn-block btn btn-light shadow-sm">
                            <img src="assets/img/icons/shortcuts/voucher-ondemand-payment-massive.png" alt="Pagar comprobante ondemand masivo">
                            <small class="d-block mt-2">Pagar comprobante<br>ondemand masivo</small>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                        <a href="javascript:;" class="py-3 btn-block btn btn-light shadow-sm">
                            <img src="assets/img/icons/shortcuts/fcm-hotbilling-payment.png" alt="Pagar FCM/HotBilling">
                            <small class="d-block mt-2">Pagar<br>FCM/HotBilling</small>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                        <a href="javascript:;" class="py-3 btn-block btn btn-light shadow-sm">
                            <img src="assets/img/icons/shortcuts/small-recharge-payment.png" alt="Pagar minicarga">
                            <small class="d-block mt-2">Pagar<br>minicarga</small>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                        <a href="javascript:;" class="py-3 btn-block btn btn-light shadow-sm">
                            <img src="assets/img/icons/shortcuts/epin-recharge-payment.png" alt="Pagar recarga Epin">
                            <small class="d-block mt-2">Pagar<br>Recarga Epin</small>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                        <a href="javascript:;" class="py-3 btn-block btn btn-light shadow-sm">
                            <img src="assets/img/icons/shortcuts/input-money.png" alt="Registro ingreso dinero">
                            <small class="d-block mt-2">Registro <br> Ingreso dinero</small>
                        </a>
                    </div>

                </div>
            
        </div>
    </div>
</div>