<div class="container-fluid h-100 shortcuts bounceInLeft">
    <div class="row align-items-center h-100">
        <div class="col-lg-10 col-md-12 mx-auto">
            <h1 class="display-4 text-center">Accesos Rápidos</h1>
            <h3 class="text-center"> Configuraciones </h3>
            <br>
            <div class="row justify-content-center align-items-center">

                <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">
                    <a href="/#/setups/paymentOptions" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Opciones de pago">
                        <img src="/assets/img/icons/shortcuts/payment-options.png" alt="Opciones de pago">
                        <small class="d-block mt-2">Opciones de <br> pago</small>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">
                    <a href="/#/setups/regularExpressions" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Expresiones regulares">
                        <img src="/assets/img/icons/shortcuts/regular_expressions.png" alt="Expresiones regulares">
                        <small class="d-block mt-2">Expresiones <br> regulares</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>