<!--
//
//  
//  
//
//  Created by -- on --
//  Copyright © 2018 hightech-corp. All rights reserved.
//
-->

<!-- <p>
  cancel-in-advance works!
</p> -->


<app-cancellations-search-bar (sendData)="getFormData($event)" (clearData)="clearFormData($event)"></app-cancellations-search-bar>


  


  <h1 class="display-5 text-center mb-4">Anular Anticipo</h1>

  <!-- DATATABLE -->
      <ngx-datatable
        class='material'
        [columnMode]="'force'"        
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="5"
        [rows]='responseData?responseData:[]'>

  	      <ngx-datatable-column name="N° Factura" prop="billNumber" [width]="200"></ngx-datatable-column>
  	      <ngx-datatable-column name="N° Cliente" prop="clientDebt"[width]="200"></ngx-datatable-column>
          <ngx-datatable-column name="Deuda Cliente" prop="startDate"[width]="200"></ngx-datatable-column>
          <ngx-datatable-column name="Fecha Desde" prop="endDate"[width]="200"></ngx-datatable-column>
          <ngx-datatable-column name="Fecha Hasta" prop="clientId" [width]="200"></ngx-datatable-column>

          <ngx-datatable-column name="Acciones" prop="acciones" [width]="200">
              <ng-template let-row="row" let-id="value" ngx-datatable-cell-template>
                <button class="btn btn-primary" (click)="openModal(template, row)">Large modal</button>
              </ng-template>
          </ngx-datatable-column>

        
      </ngx-datatable> 
  <!-- DATATABLE -->










<!-- NGX-MODAL -->

<ng-template #template>
  <div class="modal-header" style="background-color: #013069; color: white; ">
    <h3 class="modal-title pull-left">Anticipos</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p class="font-weight-bold">Factura: #{{billNumber}}</p>
    <br>
    Seleccione un pago para anular
    <br>
    <br>






  <!-- DATATABLE -->
    <!-- <div style="width: "> -->
      <ngx-datatable
        class='material'
        [columnMode]="'force'"        
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="5"
        [rows]='selectedRow?selectedRow:[]'
        [selected]="selected"
        [selectionType]="'checkbox'"
        [selectAllRowsOnPage]="false"
        [displayCheck]="displayCheck"
        (activate)="onActivate($event)"
        (select)='onSelect($event)'>

        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true"
          [checkboxable]="true">      
        </ngx-datatable-column>          


          <ngx-datatable-column name="Pago" prop="amountPayment"></ngx-datatable-column>
          <ngx-datatable-column name="Fecha de Pago" prop="paymentDate"[width]="200"></ngx-datatable-column>
          <ngx-datatable-column name="Motivo" prop="reason">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" 
            let-group="group" let-rowHeight="rowHeight">   
              <ng-select 
              [items]="reasons"
              [selectOnTab]="true"
              bindValue="value"
              bindLabel="id"
              placeholder="Seleccione motivo"
              >
              </ng-select>
            </ng-template>                
          </ngx-datatable-column>
          <ngx-datatable-column name="Comentario" prop="comment">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" 
            let-group="group" let-rowHeight="rowHeight">   
              <textarea 
                autofocus
                (blur)="updateValue($event, 'comment', rowIndex)"
                type="text" 
                name="comment" 
                [value]="value">
              </textarea>        
<!--               <input autofocus
                (blur)="updateValue($event, 'comment', rowIndex)"
                type="text" 
                name="comment" 
                [value]="value"/> -->
            </ng-template>                
          </ngx-datatable-column>
          <ngx-datatable-column name="Fecha Modificacion" prop="modifyDate" [width]="200"></ngx-datatable-column>

<!--           <ngx-datatable-column name="Acciones" prop="acciones" [width]="200">
              <ng-template let-row="row" let-id="value" ngx-datatable-cell-template>
                <button class="btn btn-primary" (click)="openModal(template, row)">Large modal</button>
              </ng-template>
          </ngx-datatable-column> -->

        
      </ngx-datatable> 
    <!-- </div> -->
  <!-- DATATABLE -->




  </div>
</ng-template>
<!-- NGX-MODAL -->
