<!--
//
//  
//  
//
//  Created by Fancisco Hernandez on 03-12-2018
//  Copyright © 2018 hightech-corp. All rights reserved.
//
-->

<div class="container-fluid h-100 shortcuts bounceInLeft">
  <div class="row align-items-center h-100">
    <div class="col-lg-10 col-md-12 mx-auto">


      <h2 class="display-4 text-center">Formas de pago</h2>
      <h3 class="text-center"> </h3>
      <br>
      <div class="row">

        <div class="col-md-12">
          <div class="row justify-content-center align-items-center">

            <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">
              <a href="javascript:;" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Anular anticipo por limite" (click)="openModal(money, 1); retrieveCurrencyData()" >
                <img src="/assets/img/icons/shortcuts/money.png" alt="Moneda">
                <small class="d-block mt-2"> Moneda </small>
              </a>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">
              <a href="javascript:;" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Procesadores de pago" (click)="openModal(paymentCollectors, 2); retrievepaymentCollectorsData()">
                <img src="/assets/img/icons/shortcuts/payment-collectors.png" alt="Procesadores de pago">
                <small class="d-block mt-2"> Procesadores de pago </small>
              </a>
            </div>

          </div>
        </div>

        <div class="col-md-12">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">
              <a href="javascript:;" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Tarjetas" (click)="openModal(cards, 3); retrieveCardsData()">
                <img src="/assets/img/icons/shortcuts/cards.png" alt="Expresiones regulares">
                <small class="d-block mt-2"> Tarjetas </small>
              </a>
            </div>




            <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">
              <a href="javascript:;" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Anular anticipo" (click)="openModal(bank, 4); retrieveBanksData()">
                <img src="/assets/img/icons/shortcuts/bank.png" alt="Bancos">
                <small class="d-block mt-2"> Bancos </small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #money>
  <div class="modal-header modaleHeader">
    <h4 class="modal-title pull-left">Moneda</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide(); animateMoney=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">




      <aw-wizard>
          <aw-wizard-step stepTitle="Listado de monedas registradas">


              <div [ngClass]="{'bounceInLeftForSetups': animateMoney}">
                  <button class="btn btn-primary fa fa-plus mb-2 mt-3" ngbTooltip="Registrar una nueva moneda" awNextStep></button>
              <ngx-datatable class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
              [limit]="5" [rows]='currencyData'>
          
              <ngx-datatable-column name="Moneda" prop="currency" > </ngx-datatable-column>
              <ngx-datatable-column name="Descripcion" prop="description"></ngx-datatable-column>
              <ngx-datatable-column name="Cambio de moneda local" prop="changeLocalCurrency"></ngx-datatable-column>
              <ngx-datatable-column name="Tasa de cambio" prop="exchangeRate"></ngx-datatable-column>
              <ngx-datatable-column name="Fecha de modificacion" prop="modifyDate"></ngx-datatable-column>
          
              <ngx-datatable-column name="Acciones" prop="acciones">
                  <ng-template let-row="row" let-id="value" ngx-datatable-cell-template>
                      <button class="btn btn-primary fa fa-edit" ></button>
                  </ng-template>
              </ngx-datatable-column>
          </ngx-datatable>
        
        
        
          </div>
        
          </aw-wizard-step>
      
  
          <aw-wizard-step stepTitle="Registrar una nueva moneda" awOptionalStep>
            <div class="row justify-content-center align-items-center bounceInRight">
              <div class="col-md-8">
                  <form [formGroup]="currencyFrm">
                      <div class="form-group">
                        <label for="currency">S&iacute;mbolo:</label>
                        <input type="text" class="form-control" name="currency" id="currency" formControlName="currency">
                      </div>
                      <div class="form-group">
                        <label for="description">Descripci&oacute;n:</label>
                        <input type="text" class="form-control" name="description" id="description" formControlName="description">
                      </div>
                      <div class="form-group">
                        <label for="changeLocalCurrency">Cambio de moneda local:</label>
                        <input type="text" class="form-control" name="changeLocalCurrency" id="changeLocalCurrency" formControlName="changeLocalCurrency">
                      </div>
                      <div class="form-group">
                        <label for="exchangeRate">Tasa de cambio:</label>
                        <input type="text" class="form-control" name="exchangeRate" id="exchangeRate" formControlName="exchangeRate">
                      </div>
                      <div class="form-group">
                        <label for=""> &nbsp; &nbsp; </label>
                        <button class="btn btn-primary fa fa-save btn-lg btn-block" ngbTooltip="Guardar" (click)="saveCurrencyData()" ></button>
                      </div>
                  </form>
              </div>
            </div>

            <button type="button" class="btn btn-outline-secondary fa fa-arrow-left" ngbTooltip="Retroceder" (click)="animateMoney=true;" awPreviousStep></button>
      
          </aw-wizard-step>
      </aw-wizard>

      

  </div>
</ng-template>


<!--Payments Collectors modal-->
<ng-template #paymentCollectors>
  <div class="modal-header modaleHeader">
    <h4 class="modal-title pull-left">Procesadores de pago</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
  </div>
</ng-template>

<ng-template #cards>
  <div class="modal-header modaleHeader">
    <h4 class="modal-title pull-left">Tarjetas</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide(); animateCard=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    

      <aw-wizard>
          <aw-wizard-step stepTitle="Listado de tarjetas registradas">


              <div [ngClass]="{'bounceInLeftForSetups': animateCard}">
                  <button class="btn btn-primary fa fa-plus mb-2 mt-3" ngbTooltip="Registrar una nueva moneda" awNextStep></button>
              <ngx-datatable class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
              [limit]="5" [rows]='cardsData'>
          
              <ngx-datatable-column name="Codigo" prop="cardCode"></ngx-datatable-column>
              <ngx-datatable-column name="Tipo de tarjeta" prop="cardType"></ngx-datatable-column>
              <ngx-datatable-column name="Emisor" prop="emmitter"></ngx-datatable-column>
              <ngx-datatable-column name="Descripcion" prop="description"></ngx-datatable-column>
              <ngx-datatable-column name="Premium" prop="premium"></ngx-datatable-column>
              <ngx-datatable-column name="Fecha de modificacion" prop="modifyDate"></ngx-datatable-column>
          
              <ngx-datatable-column name="Acciones" prop="acciones">
                  <ng-template let-row="row" let-id="value" ngx-datatable-cell-template>
                      <button class="btn btn-primary fa fa-edit" ></button>
                  </ng-template>
              </ngx-datatable-column>
          </ngx-datatable>
        
          </div>
          </aw-wizard-step>
      
  
          <aw-wizard-step stepTitle="Registrar una nueva tarjeta" awOptionalStep>

            <div class="row justify-content-center align-items-center bounceInRight">
              <div class="col-md-8">
                  <form [formGroup]="cardFrm">
                      <div class="form-group">
                        <label for="cardCode">C&oacute;digo:</label>
                        <input type="text" class="form-control" id="cardCode" name="cardCode" formControlName="cardCode">
                      </div>

                      <div class="form-group">
                          <label for="cardType">Tipo de tarjeta:</label>
                          <input type="text" class="form-control" id="cardType" name="cardType" formControlName="cardType">
                      </div>

                      <div class="form-group">
                        <label for="emmitter">Emisor:</label>
                        <input type="text" class="form-control" id="emmitter" name="emmitter" formControlName="emmitter">
                      </div>

                      <div class="form-group">
                        <label for="description">Descripci&oacute;n:</label>
                        <input type="text" class="form-control" id="description" name="description" formControlName="description">
                      </div>
                      
                      <div class="form-group">
                          <label for="premium">Premium:</label>
                          <input type="text" class="form-control" id="premium" name="premium" formControlName="premium">
                      </div>
                      <div class="form-group">
                        <label for=""> &nbsp; &nbsp; </label>
                        <button class="btn btn-primary fa fa-save btn-lg btn-block" ngbTooltip="Guardar" (click)="saveCardsData()"></button>
                      </div>
                  </form>
              </div>
            </div>

            <button type="button" class="btn btn-outline-secondary fa fa-arrow-left" ngbTooltip="Retroceder" (click)="animateCard=true;" awPreviousStep></button>
      
          </aw-wizard-step>
      </aw-wizard>

  </div>
</ng-template>
<!--Payments Collectors modal-->

<!--Banks modal-->
<ng-template #bank>
  <div class="modal-header modaleHeader">
    <h4 class="modal-title pull-left">Bancos</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide(); animateBank=false;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    

      <aw-wizard>
          <aw-wizard-step stepTitle="Listado de bancos registrados">


              <div [ngClass]="{'bounceInLeftForSetups': animateBank}">
                  <button class="btn btn-primary fa fa-plus mb-2 mt-3" ngbTooltip="Registrar una nueva moneda" awNextStep></button>
              <ngx-datatable class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
              [limit]="5" [rows]='bankData'>
          
              <ngx-datatable-column name="Persona juridica" prop="legalPerson"></ngx-datatable-column>
              <ngx-datatable-column name="Razon social" prop="businessName"></ngx-datatable-column>
              <ngx-datatable-column name="Tipo de razon social" prop="businessNameType"></ngx-datatable-column>
              <ngx-datatable-column name="Tipo de persona juridica" prop="legalPersonType"></ngx-datatable-column>
              <ngx-datatable-column name="Fecha de modificacion" prop="modifyDate"></ngx-datatable-column>
          
              <ngx-datatable-column name="Acciones" prop="acciones">
                  <ng-template let-row="row" let-id="value" ngx-datatable-cell-template>
                      <button class="btn btn-primary fa fa-edit" ></button>
                  </ng-template>
              </ngx-datatable-column>
          </ngx-datatable>
        
        
          </div>
        
          </aw-wizard-step>
      
  
          <aw-wizard-step stepTitle="Registrar un nuevo banco" awOptionalStep>
      
            <div class="row justify-content-center align-items-center bounceInRight">
              <div class="col-md-8">
                  <form [formGroup]="bankFrm">
                      <div class="form-group">
                        <label for="legalPerson">Persona juridica:</label>
                        <input type="text" class="form-control" id="legalPerson" name="legalPerson" formControlName="legalPerson">
                      </div>

                      <div class="form-group">
                          <label for="businessName">Razon social:</label>
                          <input type="text" class="form-control" id="businessName" name="businessName" formControlName="businessName">
                      </div>

                      <div class="form-group">
                        <label for="businessNameType">Tipo de razon social:</label>
                        <input type="text" class="form-control" id="businessNameType" name="businessNameType" formControlName="businessNameType">
                      </div>
                      
                      <div class="form-group">
                          <label for="legalPersonType">Tipo de persona juridica:</label>
                          <input type="text" class="form-control" id="legalPersonType" name="legalPersonType" formControlName="legalPersonType">
                      </div>
                      <div class="form-group">
                        <label for=""> &nbsp; &nbsp; </label>
                        <button class="btn btn-primary fa fa-save btn-lg btn-block" ngbTooltip="Guardar" (click)="saveBanksData()" ></button>
                      </div>
                  </form>
              </div>
            </div>

            <button type="button" class="btn btn-outline-secondary fa fa-arrow-left" ngbTooltip="Retroceder" (click)="animateBank=true;"  awPreviousStep></button>
      
          </aw-wizard-step>
      </aw-wizard>
  </div>
</ng-template>

<!--Banks modal-->