<div class="row row-payment-left">
  <div class="col-md-12 mt-4">
    <button class="btn btn-success" (click)="searchContracts()"><i class="fa fa-search" aria-hidden="true"></i> Buscar
      Contratos</button>
  </div>
  <div class="col-md-12">
    <div class="jumbotron mt-4">
      <div class="row">
        <ng-container *ngFor="let item of dataContracts; let i = index">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 text-center">
                <h5>Información del cliente</h5>
              </div>
              <div class="col-md-12" style="background: #bcbcbc;">
                <div class="form-group row" style="margin-bottom: 0!important">
                  <label for="" class="col-md-4 col-form-label font-weight-bold">Cliente:</label>
                  <div class="col-md-8">
                    <input type="text" readonly class="form-control-plaintext" value="{{item.client_name + ' ' + item.client_last_name}}">
                  </div>
                </div>
                <div class="form-group row"  style="margin-bottom: 0!important">
                  <label for="" class="col-md-4 col-form-label font-weight-bold">Contrato:</label>
                  <div class="col-md-8">
                    <input type="text" readonly class="form-control-plaintext" value="{{item.contract_number}}">
                  </div>
                </div>
                <div class="form-group row"  style="margin-bottom: 0!important">
                  <label for="" class="col-md-4 col-form-label font-weight-bold">Tipo de cuenta:</label>
                  <div class="col-md-8">
                    <input type="text" readonly class="form-control-plaintext" value="{{item.type_account}}">
                  </div>
                </div>
              </div>
              <div class="col md-12 mt-4">
                <div class="card">
                  <div class="card-header" style="background: #013069;color:white">
                    Contratos
                  </div>
                  <ul class="list-group list-group-flush">
                    <ng-container *ngFor="let contract of item.contracts">
                      <li class="list-group-item">
                        {{contract.name_contract}}
                        <ng-container *ngFor="let invoice of contract.invoices">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              {{invoice.name_invoice}}
                            </li>
                          </ul>
                        </ng-container>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>