
.list-group-item-custom{
    border: 1px solid #013069;
}
.card-header-custom{
    background: #013069!important;color:white!important
}
.col-md-12-custom{
    background: #bcbcbc;
}
.form-group-row-custom{
    margin-bottom: 0!important
}
.col-md-12-custom-cn{
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.c-m-12-c-invoice{
    padding-left: 0px; padding-right: 0px;
}
.span-custom{
    margin-left: 5%;
}
.span-custom-contract{
    margin-bottom: 1px;
}
.spn-contract-text{
    font-weight: bold;
    font-size: 18px;
}
.spn-contract-total{
    font-size: 18px;
}
.jumbotron-custom{
    padding: 0.6rem 2rem;
}
.spn-info-client{
    font-weight: bold;
    font-size: 14px;
    color:black;
}