<!--
//
//  
//  
//
//  Created by -- on --
//  Copyright © 2018 hightech-corp. All rights reserved.
//
-->
<!--

    !! !!
-->


<app-cancellations-search-bar (sendData)="getFormData($event)" (clearData)="clearFormData($event)"></app-cancellations-search-bar>

<h1 class="display-5 text-center mb-4">Anular pago de FCM/Hotbiling</h1>


<ngx-datatable class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
    [limit]="5" [rows]='[]'>

    <ngx-datatable-column name="N° Factura" prop="billNumber"></ngx-datatable-column>
    <ngx-datatable-column name="N° Cliente" prop="clientDebt"></ngx-datatable-column>
    <ngx-datatable-column name="Deuda Cliente" prop="startDate"></ngx-datatable-column>
    <ngx-datatable-column name="Forma de pago" prop="paymentOption"></ngx-datatable-column>
    <ngx-datatable-column name="Fecha Desde" prop="endDate"></ngx-datatable-column>
    <ngx-datatable-column name="Fecha Hasta" prop="clientId"></ngx-datatable-column>

    <ngx-datatable-column name="Acciones" prop="acciones">
        <ng-template let-row="row" let-id="value" ngx-datatable-cell-template>
            <button class="btn btn-primary" (click)="openModal(template)">Large modal</button>
        </ng-template>
    </ngx-datatable-column>


</ngx-datatable>