<!--
//
//  
//  
//
//  Created by Francico Hernandez on 22-nov-2018
//  Copyright © 2018 hightech-corp. All rights reserved.
//
-->
<div class="container-fluid h-100 shortcuts">
  <div class="row align-items-center h-100">
      <div class="col-lg-10 col-md-12 mx-auto">

          
              <h1 class="display-4 text-center">Accesos Rápidos</h1>
              <h3 class="text-center"> Cancelaciones </h3>
              <br>
              <div class="row">
                  
                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                      <a href="/#/cancellations/cancelInAdvance" class="py-3 btn-block btn btn-light shadow-sm">
                          <img src="/assets/img/icons/shortcuts/advance-payment.png" alt="Cancelar anticipo">
                          <small class="d-block mt-2">Cancelar <br> anticipo</small>
                      </a>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                      <a href="/#/cancellations/cancelAdvanceByLimit" class="py-3 btn-block btn btn-light shadow-sm">
                          <img src="/assets/img/icons/shortcuts/advance-payment-by-limit.png" alt="Cancelar anticipo por limite">
                          <small class="d-block mt-2">Cancelar anticipo<br>por limite</small>
                      </a>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                      <a href="/#/cancellations/cancelOndemand" class="py-3 btn-block btn btn-light shadow-sm">
                          <img src="/assets/img/icons/shortcuts/voucher-ondemand-payment.png" alt="Cancelar comprobante ondemand">
                          <small class="d-block mt-2">Cancelar comprobante<br>ondemand</small>
                      </a>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                      <a href="/#/cancellations/cancelFcmPayment" class="py-3 btn-block btn btn-light shadow-sm">
                          <img src="/assets/img/icons/shortcuts/fcm-hotbilling-payment.png" alt="Cancelar FCM/HotBilling">
                          <small class="d-block mt-2">Cancelar<br>FCM/HotBilling</small>
                      </a>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                      <a href="/#/cancellations/cancelSmallRechargue" class="py-3 btn-block btn btn-light shadow-sm">
                          <img src="/assets/img/icons/shortcuts/small-recharge-payment.png" alt="Cancelar minicarga">
                          <small class="d-block mt-2">Cancelar<br>minicarga</small>
                      </a>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                      <a href="/#/cancellations/cancelRechargeEpin" class="py-3 btn-block btn btn-light shadow-sm">
                          <img src="/assets/img/icons/shortcuts/epin-recharge-payment.png" alt="Cancelar recarga Epin">
                          <small class="d-block mt-2">Cancelar<br>Recarga Epin</small>
                      </a>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                      <a href="/#/cancellations/cancelMoneyOutput" class="py-3 btn-block btn btn-light shadow-sm">
                          <img src="/assets/img/icons/shortcuts/input-money.png" alt="Registro ingreso dinero">
                          <small class="d-block mt-2">Cancelar  <br> Ingreso de dinero</small>
                      </a>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                    <a href="/#/cancellations/cancelCyclicPaymetnBill" class="py-3 btn-block btn btn-light shadow-sm">
                        <img src="/assets/img/icons/shortcuts/cyclic-bill-payment.png" alt="Cancelar el pago de factura ciclica">
                        <small class="d-block mt-2">Cancelar <br> el pago de factura ciclica</small>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                    <a href="/#/cancellations/cancelCyclicBill" class="py-3 btn-block btn btn-light shadow-sm">
                        <img src="/assets/img/icons/shortcuts/cyclic-bill.png" alt="Cancelar factura ciclica">
                        <small class="d-block mt-2">Cancelar <br> factura ciclica</small>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                    <a href="/#/cancellations/cancelOndemand" class="py-3 btn-block btn btn-light shadow-sm">
                        <img src="/assets/img/icons/shortcuts/money-output.png" alt="Cancelar el egreso de dinero">
                        <small class="d-block mt-2">Cancelar <br> el egreso de dinero</small>
                    </a>
                </div>

              </div>
      </div>
  </div>
</div>