<!--
//
//  
//  
//
//  Created by Francico Hernandez on 22-nov-2018
//  Copyright © 2018 hightech-corp. All rights reserved.
//
-->
<div class="container-fluid h-100 shortcuts bounceInLeft">
  <div class="row align-items-center h-100">
      <div class="col-lg-10 col-md-12 mx-auto">

          
              <h1 class="display-4 text-center">Accesos Rápidos</h1>
              <h3 class="text-center"> Anulaciones </h3>
              <br>
              <div class="row">
                  
                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                      <a href="/#/cancellations/cancelInAdvance" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Anular anticipo"> 
                          <img src="/assets/img/icons/shortcuts/advance-payment.png" alt="Anular anticipo">
                          <small class="d-block mt-2">Anular <br> anticipo</small>
                      </a>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                      <a href="/#/cancellations/cancelAdvanceByLimit" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Anular anticipo por limite">
                          <img src="/assets/img/icons/shortcuts/advance-payment-by-limit.png" alt="Anular anticipo por limite">
                          <small class="d-block mt-2">Anular anticipo<br>por limite</small>
                      </a>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                      <a href="/#/cancellations/cancelOndemand" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Anular comprobante ondemand">
                          <img src="/assets/img/icons/shortcuts/voucher-ondemand-payment.png" alt="Anular comprobante ondemand">
                          <small class="d-block mt-2">Anular comprobante<br>ondemand</small>
                      </a>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                      <a href="/#/cancellations/cancelFcmPayment" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Anular FCM/HotBilling">
                          <img src="/assets/img/icons/shortcuts/fcm-hotbilling-payment.png" alt="Anular FCM/HotBilling" >
                          <small class="d-block mt-2">Anular<br>FCM/HotBilling</small>
                      </a>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                      <a href="/#/cancellations/cancelSmallRechargue" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Anular minicarga">
                          <img src="/assets/img/icons/shortcuts/small-recharge-payment.png" alt="Anular minicarga" >
                          <small class="d-block mt-2">Anular<br>minicarga</small>
                      </a>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                      <a href="/#/cancellations/cancelRechargeEpin" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Anular recarga epin">
                          <img src="/assets/img/icons/shortcuts/epin-recharge-payment.png" alt="Anular recarga Epin">
                          <small class="d-block mt-2">Anular<br>Recarga Epin</small>
                      </a>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                      <a href="/#/cancellations/cancelMoneyInput" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Anular ingreso de dinero">
                          <img src="/assets/img/icons/shortcuts/input-money.png" alt="Registro ingreso dinero">
                          <small class="d-block mt-2">Anular  <br> Ingreso de dinero</small>
                      </a>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                    <a href="/#/cancellations/cancelCyclicPaymetnBill" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Anular el pago de factura ciclica">
                        <img src="/assets/img/icons/shortcuts/cyclic-bill-payment.png" alt="Anular el pago de factura ciclica">
                        <small class="d-block mt-2">Anular <br> el pago de factura ciclica</small>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                    <a href="/#/cancellations/cancelCyclicBill" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Anular factura ciclica">
                        <img src="/assets/img/icons/shortcuts/cyclic-bill.png" alt="Anular factura ciclica">
                        <small class="d-block mt-2">Anular <br> factura ciclica</small>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-3">
                    <a href="/#/cancellations/cancelMoneyOutput" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Anular el egreso de dinero">
                        <img src="/assets/img/icons/shortcuts/money-output.png" alt="Anular el egreso de dinero">
                        <small class="d-block mt-2">Anular <br> el egreso de dinero</small>
                    </a>
                </div>

              </div>
      </div>
  </div>
</div>