<div class="container-fluid h-100 shortcuts">
  <div class="row align-items-center h-100">
    <div class="col-lg-10 col-md-12 mx-auto">


      <h1 class="display-4 text-center">Accesos Rápidos</h1>
      <h3 class="text-center"> Consultas </h3>
      <br>
      <div class="row">

        <div class="col-md-12">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">
                <a href="/#/queries/dataAccountQuery" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Consultas de datos de la cuenta"> 
                    <img src="/assets/img/icons/shortcuts/queries.png" alt="Opciones de pago">
                    <small class="d-block mt-2">Consultas <br> datos de la cuenta</small>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">
                <a href="/#/queries/dataClientQuery" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Consultas datos del cliente">
                    <img src="/assets/img/icons/shortcuts/queries.png" alt="Expresiones regulares">
                    <small class="d-block mt-2">Consultas <br>datos del cliente </small>
                </a>
            </div>
          </div>
      </div>

      <div class="col-md-12">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">
                <a href="/#/queries/montlyDebtQuery" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Consultas de la deuda mensual"> 
                    <img src="/assets/img/icons/shortcuts/queries.png" alt="Opciones de pago">
                    <small class="d-block mt-2">Consultas de <br> la deuda mensual</small>
                </a>
            </div>

         

            <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">
                <a href="/#/queries/moneyOutputByWithdrawal" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Consultas de egreso de dinero por retiro">
                    <img src="/assets/img/icons/shortcuts/queries.png" alt="Expresiones regulares">
                    <small class="d-block mt-2">Consultas de <br> egreso de dinero por retiro</small>
                </a>
            </div>
          </div>
      </div>
      <div class="col-md-12">
        <div class="row justify-content-center align-items-center">
            
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-3">
                <a href="/#/queries/moneyRefundQuery" class="py-3 btn-block btn btn-light shadow-sm" ngbTooltip="Consultas de detalle de las ordenes de servicio de devolucion de dinero">
                    <img src="/assets/img/icons/shortcuts/queries.png" alt="Expresiones regulares">
                    <small class="d-block mt-2">Consultas de <br>las ordenes de servicio <br> de devolucion de dinero </small>
                </a>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>