<!--
//
//  
//  
//
//  Created by -- on --
//  Copyright © 2018 hightech-corp. All rights reserved.
//
-->


<app-cancellations-money-search-bar (sendData)="search($event)" (clearData)="clear()" ></app-cancellations-money-search-bar>

<h1 class="display-5 text-center mb-4">Anular Egreso de Dinero</h1>

<ngx-datatable
class='material'
[columnMode]="'force'"        
[headerHeight]="50"
[footerHeight]="50"
[rowHeight]="'auto'"
[limit]="5"
[rows]='[]'>

  <ngx-datatable-column name="N° Factura" prop="billNumber" [width]="200"></ngx-datatable-column>
  <ngx-datatable-column name="N° Cliente" prop="clientDebt"[width]="200"></ngx-datatable-column>
  <ngx-datatable-column name="Deuda Cliente" prop="startDate"[width]="200"></ngx-datatable-column>
  <ngx-datatable-column name="Fecha Desde" prop="endDate"[width]="200"></ngx-datatable-column>
  <ngx-datatable-column name="Fecha Hasta" prop="clientId" [width]="200"></ngx-datatable-column>

  <ngx-datatable-column name="Acciones" prop="acciones" [width]="200">
      <ng-template let-row="row" let-id="value" ngx-datatable-cell-template>
        <button class="btn btn-primary" >Large modal</button>
      </ng-template>
  </ngx-datatable-column>


</ngx-datatable>