.row-payment-right{
 border-left:1px solid #00000020;
 border-right:1px solid #00000020;
 border-bottom:1px solid #00000020;
}

.row-payment-left{
    border-left:1px solid #00000020;
    border-bottom:1px solid #00000020
}
.card-title-custom{
    color:white;
    background: #013069;
}