<div class="row">
  <div class="col-md-12">
    <app-payments-header></app-payments-header>
  </div>
  <div class="col-md-6">
    <app-payments-contracts (parentSearchPaymentContracts)="searchPaymentContracts($event)"></app-payments-contracts>
  </div>
  <div class="col-md-6">
    <app-payments-methods (parentSearchPaymentMethods)="searchPaymentMethods($event)"></app-payments-methods>
  </div>
</div>

<ng-template #modalPaymentContract let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Buscar</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <aw-wizard>
          <aw-wizard-step stepTitle="Paso 1">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 mt-1">
                    <p class="font-weight-bold"> Ingrese la información para busqueda de facturas</p>
                  </div>
                  <div class="col-md-12 mt-3">
                    <div class="form-group row">
                      <label class="col-md-3 offset-md-2 col-form-label" for="">Número de Contrato:</label>
                      <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="N° de contrato">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 offset-md-2 col-form-label" for="">Número de Identificación:</label>
                      <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="N° identificación del cliente">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 offset-md-2 col-form-label" for="">Número de Cuenta:</label>
                      <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="N° de cuenta">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 text-center mt-4">
                <button type="button" class="btn btn-success" awNextStep (click)="getContracts()">Siguiente</button>
              </div>
            </div>
          </aw-wizard-step>
          <aw-wizard-step stepTitle="Paso 2">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 mt-1">
                    <p class="font-weight-bold"> Seleccione el o los contratos a pagar</p>
                  </div>
                  <div class="col-md-12 mt-3">
                    <div class="card">
                      <div class="card-header card-title-custom">Contratos</div>
                      <div class="card-body">
                        <form [formGroup]="ContractForm">
                          <ul class="list-group">
                            <li class="list-group-item" *ngFor="let item of listContracts.contracts;let i = index">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="chkContract_{{i}}" data-toggle="collapse"
                                      [attr.href]="'#divContract_' + i">
                                    <label class="form-check-label" for="chkContract_{{i}}" (click)="checkContract()">
                                      {{item.name}}
                                    </label>
                                  </div>
                                </div>
                                <div class="col-md-12 collapse mt-3" id="divContract_{{i}}">
                                  <ul class="list-group">
                                    <li class="list-group-item" *ngFor="let itemchild of item.invoices; let a = index">
                                      <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="chkInvoice{{i}}_{{a}}">
                                        <label for="chkInvoice{{i}}_{{a}}" class="form-check-label">{{itemchild.name}}</label>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 text-center mt-4">
                <button type="button" class="btn btn-primary mr-4" awPreviousStep>Anterior</button>
                <button type="button" class="btn btn-success" (click)="finishContracts()">Finalizar</button>
              </div>
            </div>
          </aw-wizard-step>
        </aw-wizard>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #modalPaymentMethod let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Formas de Pago</h4> <button type="button" class="close"
      aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>